*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
div{
    box-sizing: border-box;
    border: black solid 3px;
    background-color: grey;
    margin: 5px;
}
h1 {
    text-align: center;
}
h2 {
    padding-top: 0%;
    margin-top: 0%;
    margin-left: 70%;
    width: 30%;
    text-align: center;
    border-left: solid black 3px;
    border-bottom: solid black 3px;

}
.row{
    border: 0px;
}
.column{
    float: left;
    width: 33%;
}
#chicken{
    background-color: rosybrown;
}
#beef{
    background-color: rgb(146, 61, 61);
    color: white;
}
#sushi{
    background-color: sandybrown;
}
p
{
 padding: 5px;   
}